<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <!-- Librerias CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/estilos.css">
    <link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.css">
    <!-- Librerias CSS -->
    <title>RapiDoc</title>
  </head>
<body>

  <!-- Header -->
  <header> 
    <!-- NAV -->
    <nav>
      <div class="nav-wrapper blue lighten-2">
       <a id="logoUrl" href="#" class="brand-logo"><img class="logoHeader" src="../public/img/logo.png"></a> 
       <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
       <ul id="nav" class="right hide-on-med-and-down"></ul>
      </div>
    </nav>
    <!-- NAV -->
    <!-- NAV Mobile -->
    <ul class="sidenav" id="mobile-demo"></ul>
    <!-- NAV Mobile -->
  </header>
  <!-- Header -->
  
    <!-- Contenido Principal -->
     <main>
        <div class="row"> 
        <div class="separadorMain">            
               
        <!-- Caja de Registros Personales -->
        <div class="col s4">
          <ul class="collection with-header" id="listadoDocumentosDisponibles">
           <li class="collection-header blue lighten-2 white-text"><h5>Buscador de Registros</h5></li>     
           
            <!-- Busqueda -->
            <div class="input-field col s5">
             <i class="material-icons prefix">search</i>
             <input id="parametro" type="text" class="validate" placeholder="Busqueda">         
            </div>
            <div class="input-field col s4">    
             <select class="browser-default" id="tipoBusqueda">
             <option value="default" disabled selected>Tipo Busqueda</option>    
             <option value="apellido">Apellido</option>
             <option value="cuit">Cuit</option>
             </select>
            </div>
            <div class="col s3">
             <br>
             <a onclick="buscarPersona();" class="waves-effect waves-light btn blue lighten-2 white-text">Buscar</a>
            </div>
            <!-- Busqueda -->
          </ul>   
          <!-- Listado de Personas Cargadas -->                
          <div class="listadoPersonas">
            <ul class="collection with-header" id="listadoPersonas">
             <li class="collection-header blue lighten-2 white-text"><h5>Registros Personales</h5></li>
            </ul>        
          </div>       
          <!-- Listado de Personas Cargadas -->
        </div>
        <!-- Caja de Registros Personales -->

      
        <!-- Datos de Formulario -->
        <div class="col s8">  
          <ul class="collection with-header">
           <li class="collection-header blue lighten-2 white-text"><h5>Registro Personal</h5></li>
           <br>
           <!-- Datos Persona -->      
            <div class="input-field col s4">
             <i class="material-icons prefix">account_circle</i>
             <input id="apellido" type="text" class="validate" placeholder="Apellido">
             <label for="apellido">Apellido</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">account_circle</i>
             <input id="nombre" type="text" class="validate" placeholder="Nombre">
             <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">work</i>
             <input id="cuit" type="text" class="validate" placeholder="Cuit">
             <label for="cuit">Cuit</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">perm_contact_calendar</i>
             <input id="dni" type="text" class="validate" placeholder="DNI">
             <label for="dni">DNI</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">perm_contact_calendar</i>
             <input id="nroTramite" type="text" class="validate" placeholder="Nro Tramite">
             <label for="nroTramite">N° Tramite</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">phone</i>
             <input id="telefono" type="text" class="validate" placeholder="Telefono">
             <label for="telefono">Telefono</label>
            </div>
       
            <div class="input-field col s6">
             <i class="material-icons prefix">email</i>
             <input id="mail" type="text" class="validate" placeholder="Mail">
             <label for="mail">Mail</label>
            </div>  
            <div class="input-field col s6">
             <i class="material-icons prefix">house</i>
             <input id="direccion" type="text" class="validate" placeholder="Direccion">
             <label for="direccion">Direccion</label>
            </div> 
            <!-- Datos Persona -->   
        
            <!-- Datos Empleador -->
            <div class="input-field col s4">
             <i class="material-icons prefix">account_circle</i>
             <input id="apellidoEmpleador" type="text" class="validate" placeholder="Apellido del Empleador">
             <label for="apellidoEmpleador">Empleador: Apellido</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">account_circle</i>
             <input id="nombreEmpleador" type="text" class="validate" placeholder="Nombre del Empleador">
             <label for="nombreEmpleador">Empleador: Nombre</label>
            </div>
            <div class="input-field col s4">
             <i class="material-icons prefix">work</i>
             <input id="cuitEmpleador" type="text" class="validate" placeholder="Cuit del Empleador">
             <label for="cuitcuitEmpleador">Empleador: Cuit</label>
            </div>
            <!-- Datos Empleador -->
          </ul>
        </div>
        <!-- Datos de Formulario -->         
        


        </div>
        <!-- Botones Flotantes -->
        <div class="col s2 offset-s10">
          <br>
          <a title="Registrar Nueva Persona" class="btn-floating btn-large waves-effect waves-light green darken-3" onclick="abrirCargaPersonas();">
           <i class="material-icons">add</i>
          </a>
          <a title="Actualizar Datos Personales" class="btn-floating btn-large waves-effect waves-light btn blue darken-3" onclick="actualizarDatos();">
           <i class="material-icons">update</i>
          </a>
          <a title="Eliminar Persona" class="btn-floating btn-large aves-effect waves-light btn  red accent-4" onclick="eliminarPersona();">
           <i class="material-icons">delete</i>
          </a>
        <!-- Botones Flotantes -->        
        </div>
        </div>
    </main>
    <!-- Contenido Principal-->



    <!-- Modal -->
    <div id="modal1" class="modal modalContorno col s12" data-target="modal1">
    <div class="modal-content">
     <h5 class="titulo">Datos Personales</h5>
     <!-- Formulario de Datos -->
    <form class="col s12">
      <div class="row">  
      <!-- Datos Persona -->    
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="apellidoNew" type="text" class="validate" placeholder="Apellido">
          <label for="apellidoNew">Apellido</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombreNew" type="text" class="validate" placeholder="Nombre">
          <label for="nombreNew">Nombre</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">work</i>
          <input id="cuitNew" type="text" class="validate" placeholder="Cuit">
          <label for="cuitNew">Cuit</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="dniNew" type="text" class="validate" placeholder="DNI">
          <label for="dniNew">DNI</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="nroTramiteNew" type="text" class="validate" placeholder="Nro Tramite">
          <label for="nroTramiteNew">N° Tramite</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">phone</i>
          <input id="telefonoNew" type="text" class="validate" placeholder="Telefono">
          <label for="telefonoNew">Telefono</label>
        </div>
        
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <input id="mailNew" type="text" class="validate" placeholder="Mail">
          <label for="mailNew">Mail</label>
        </div>  
        <div class="input-field col s4">
          <i class="material-icons prefix">house</i>
          <input id="direccionNew" type="text" class="validate" placeholder="Direccion">
          <label for="direccionNew">Direccion</label>
        </div> 
        
        <!-- Datos Persona -->   
        
        <!-- Datos Empleador -->
       
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="apellidoEmpleadorNew" type="text" class="validate" placeholder="Apellido del Empleador">
          <label for="apellidoEmpleadorNew">Empleador: Apellido</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombreEmpleadorNew" type="text" class="validate" placeholder="Nombre del Empleador">
          <label for="nombreEmpleadorNew">Empleador: Nombre</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">work</i>
          <input id="cuitEmpleadorNew" type="text" class="validate" placeholder="Cuit del Empleador">
          <label for="cuitcuitEmpleadorNew">Empleador: Cuit</label>
        </div>
        <!-- Datos Empleador -->
     
        
      </div>
    </form> 
    <!-- Formulario de Datos -->  
    </div>
    <div class="modal-footer">
      <center>
        <a href="#!" class="waves-effect waves-light btn light-blue darken-2" id="botonLeido" onclick="nuevaPersona();">   
         Registrar
        </a>
        <a href="#!" class="modal-close waves-effect waves-light btn light-blue darken-2">Cerrar</a>
      </center>
      <br>
      <br>
     
    </div>
    </div>
    <!-- Modal -->



    
    <!-- Footer -->
    <footer class="page-footer blue lighten-2">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h5 class="white-text">Rapidoc</h5>
              <p class="grey-text text-lighten-4">Creación y Gestión de documentos de forma rápida y sencilla en formato digital.</p>
            </div>            
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 RapiDoc 
          <a class="grey-text text-lighten-4 right" href="#!">Mas Informacion</a>
          </div>
        </div>
    </footer>
    <!-- Footer-->
  
   <!-- Librerias JavaScripts -->
   <script src="../main.js"></script>
   <script src="../public/js/gestorPersonas.js"></script>
   <script src="../public/js/generarMenuLateral.js"></script>
   <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
   <!-- Librerias JavaScripts -->


  </body>
</html>