<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <!-- Librerias CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/estilos.css">
    <link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.css">
    <!-- Librerias CSS -->
    <title>RapiDoc</title>
  </head>
<body>

    <!-- Header -->
    <header> 
        <!-- NAV -->
        <nav>
            <div class="nav-wrapper blue lighten-2">
              <a id="logoUrl" href="#" class="brand-logo"><img class="logoHeader" src="../public/img/logo.png"></a> 
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
              <ul id="nav" class="right hide-on-med-and-down"></ul>
            </div>
        </nav>
        <!-- NAV -->
        <!-- NAV Mobile -->
        <ul class="sidenav" id="mobile-demo"></ul>
        <!-- NAV Mobile -->
    </header>
    <!-- Header -->
  
    <!-- Contenido Principal -->
     <main>
      <div class="separadorMain"> 
      <div class="row">        


        <!-- Informacion de la App -->
        <div class="row">
          <div class="col s4">
           <center><img class="imagenContenedor" src="../public/img/logo.png"></center>
          </div>
          <div class="col s8">
            <center><h5>¿Que es RapiDoc?</h5></center>
            <blockquote class="textoBlockquote">
             <p>RapiDoc es una App que pretende ser una herramienta de apoyo para la informatización de procesos manuales permitiéndole al usuario crear documentos digitales utilizando una base de conocimiento generada a través de la aplicación, desde la cual el usuario puede gestionar toda su biblioteca de documentos, además contar con métricas como apoyo estadístico de toda documentación generada dentro de la App, mejorando la eficiencia de trabajo y optimizando los tiempos de una jornada laboral.
            </p>
            </blockquote>            
            <center><h5>¿Que beneficios obtengo con la Aplicacion?</h5></center>
            <blockquote class="textoBlockquote">
             <p>Informatizar tareas manuales de forma ágil y flexible.</p>
             <p>Monitorear toda la documentación generada desde la aplicación.</p>
             <p>Generar una base de conocimiento a través de la carga de información personal.</p>
             <p>Establecer métricas estadísticas y de control sobre la documentación generada en la app.</p>
            </blockquote>
          </div>
        </div>
        <!-- Informacion de la App -->


        <!-- Boton de Volver -->
        <center>
          <a href="gestorDocumentos.html" class="waves-effect waves-light btn-large blue lighten-2 white-text">
           <i class="material-icons left">directions_run</i>Quiero comenzar a Utilizar la App
          </a>
        </center>
        <!-- Boton de Volver -->
        

      </div>
      </div>
    </main>
    <!-- Contenido Principal-->
    
    <!-- Footer -->
    <footer class="page-footer blue lighten-2">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h5 class="white-text">Rapidoc</h5>
              <p class="grey-text text-lighten-4">Creación y Gestión de documentos de forma rápida y sencilla en formato digital.</p>
            </div>            
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 RapiDoc 
          <a class="grey-text text-lighten-4 right" href="#!">Mas Informacion</a>
          </div>
        </div>
    </footer>
    <!-- Footer-->
  
   <!-- Librerias JavaScripts -->
   <script src="../main.js"></script>
   <script src="../public/js/home.js"></script>
   <script src="../public/js/generarMenuLateral.js"></script>
   
   <script src="../node_modules/chart.js/dist/Chart.js"></script>
   <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
   <!-- Librerias JavaScripts -->


  </body>
</html>