<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <!-- Librerias CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/estilos.css">
    <link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.css">
    <!-- Librerias CSS -->
    <title>RapiDoc</title>
  </head>
<body>

    <!-- Header -->
    <header> 
        <!-- NAV -->
        <nav>
            <div class="nav-wrapper blue lighten-2">
              <a id="logoUrl" href="#" class="brand-logo"><img class="logoHeader" src="../public/img/logo.png"></a> 
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
              <ul id="nav" class="right hide-on-med-and-down"></ul>
            </div>
        </nav>
        <!-- NAV -->
        <!-- NAV Mobile -->
        <ul class="sidenav" id="mobile-demo"></ul>
        <!-- NAV Mobile -->
    </header>
    <!-- Header -->
  
    <!-- Contenido Principal -->
     <main>
      
      <div class="separadorMain">  
        <div class="row">            
          <div class="col s9" id="contenedorDirectorios">
           <div id="contenedorIframe" class="cajaIframe"></div>
          </div>
          <div class="col s3">
            <ul class="collection with-header" id="contenedorDirectorios">
              <li class="collection-header blue lighten-2 white-text"><h5>Opciones</h5></li>
              <li class="collection-item">
               <a class="waves-effect waves-light btn-small light-blue darken-2" onclick="volverAtras();">
               <i class="material-icons left">arrow_back</i> Volver
               </a>
              </li>
              <li class="collection-item">
               <a class="waves-effect waves-light btn-small red accent-4" onclick="borrarArchivo();">
               <i class="material-icons left">delete_forever</i> Borrar
               </a>
              </li>
            </ul>   
          </div> 
          
        </div>
        </div>
    </main>
    <!-- Contenido Principal-->
    
    <!-- Footer -->
    <footer class="page-footer blue lighten-2">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h5 class="white-text">Rapidoc</h5>
              <p class="grey-text text-lighten-4">Creación y Gestión de documentos de forma rápida y sencilla en formato digital.</p>
            </div>            
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 RapiDoc 
          <a class="grey-text text-lighten-4 right" href="#!">Mas Informacion</a>
          </div>
        </div>
    </footer>
    <!-- Footer-->
  
   <!-- Librerias JavaScripts -->
   <script src="../main.js"></script>
   <script src="../public/js/verArchivo.js"></script>
   <script src="../public/js/generarMenuLateral.js"></script>
   <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
   <!-- Librerias JavaScripts -->


  </body>
</html>